.sc-carousel-container {
    position: relative;
}

.sc-carousel {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 10px;
    padding-bottom: 25px;
    scrollbar-width: none;
    width: 255px;
}

.sc-carousel::-webkit-scrollbar {
    display: none;
}

.sc-carousel--arrow {
    position: absolute;
    top: 80px;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #dddfe2;
    cursor: pointer;
}

.sc-carousel--arrow-left {
    left: 0px;
    border-radius: 0 3px 3px 0;
}

.sc-carousel--arrow-right {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

.sc-carousel--arrow-icon {
    position: relative;
    left: 5px;
    width: 17px;
    height: 17px;
}

.sc-carousel--arrow-icon-path {
    fill: #69707f;
}

.sc-carousel--item {
    padding-right: 10px;
}

.sc-carousel--thumbnail {
    width: 200px;
    height: 140px;
    background-position: center center;
    background-size: cover;
}

.sc-carousel--info {
    padding-top: 10px;
}

.sc-carousel--title {
    padding-bottom: 5px;
    font-size: 13px;
}

.sc-carousel--subtitle {
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.sc-carousel--actions {
    text-align: center;
}

.sc-carousel--action {
    background-color: #ffffff;
    color: #0084ff;
    font-weight: 500;
    font-size: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}
